
.headerr{
    background-color: lightskyblue;
    width:760px;
    height:50px;

}

.image{

    border-color: black;
    border-width: 2px;
    border-style: solid;


}

.mainpage{

    margin-left: 300px;
}