@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:Oxygen,sans-serif;
    margin:2rem;

}

.Wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));
    gap:2rem;
    margin-left: 300px;
    margin-bottom: 300px;
    justify-content:top;
}

.card{
    overflow: hidden;
    box-shadow: 0 2px 20px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;   
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin-bottom: 900px;
    padding: 20px;
    position:relative;
    background-color: aqua;

}

.__image{
    height:12rem;
    width:100%;
    object-fit:cover;
}

.card__title{
    padding: 1rem;
    text-align: center;
}

.description__border{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 20px;
}

.card__description{
    padding: 0 1rem;

}
/* .card__btn{
    padding: 1 rem;
    font-weight: bold;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 0.2 rem;
    margin: 1rem;
    border-width: 2px ;
    border-color: black;
    border-radius: 5px;
    color:black;
    border-radius: 0.2rem;
    transition: background 200ms ease-in,color 200ms ease-in;
} */

/* :hover{
    transform: scale(1.02);
} */
/* :hover card__btn{
    background-color: grey;
    color:white
} */

